Repository Negima1072/dansk: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm check, pnpm test

docs: add manual and update README
  MANUAL.md
  README.md
  img/screenshot_box.png
  img/screenshot_box_details.png
  img/screenshot_box_load.png
  img/screenshot_conv.png
  img/screenshot_layer.png
  img/screenshot_main.png
  img/screenshot_memo.png
  img/screenshot_time.png
  img/screenshot_trace.png
  img/screenshot_trace_background.png
  img/screenshot_trace_backup.png
  img/screenshot_trace_css.png
  img/screenshot_trace_layers.png
Due: none

feat: add footer with links to GitHub and manual on Options
  src/components/options/Options.module.scss
  src/components/options/Options.tsx
Due: pnpm check

fix: remove inline style
  MANUAL.md
Due: none

release: v2.2.0
  CHANGELOG.md
  package.json
Due: none

update: README.md
  README.md
Due: none

feat: add transparency control to layers (#216)
  src/components/headers/Trace.tsx
  src/components/headers/layerEditor/LayerEditor.tsx
  src/components/layer/layer/Layer.module.scss
  src/components/layer/layer/Layer.tsx
  src/types/layer.d.ts
Due: pnpm check

fix: width of color picker input
  src/components/headers/layerSelector/ColorPicker/ColorPicker.module.scss
Due: pnpm check

fix: remove unused svg icon props
  src/libraries/icons.tsx
Due: pnpm check

fix: add '_live' command option to command list
  src/components/footers/CommandBox.Commands.ts
  src/libraries/convert.ts
  src/libraries/localStorage.defaultValue.ts
Due: pnpm check

feat: add live toggle functionality to layers
  src/components/headers/Trace.tsx
  src/components/headers/layerSelector/LayerSelector.tsx
  src/components/layer/layer/Layer.tsx
  src/libraries/icons.tsx
  src/libraries/layerUtil/command.ts
  src/types/layer.d.ts
Due: pnpm check, pnpm test

fix: lint-staged configuration
  .lintstagedrc.json
Due: none

feat: add option to show live toggle column in layer selector
  src/components/headers/layerSelector/LayerSelector.tsx
  src/libraries/localStorage.defaultValue.ts
  src/types/types.d.ts
Due: pnpm check

update: dependencies
  package.json
  pnpm-lock.yaml
Due: none

docs: update manual to include _live toggle button and related settings
  MANUAL.md
  img/screenshot_main.png
  img/screenshot_trace.png
  img/screenshot_trace_layers.png
Due: none

refactor: rename transparency to opacity in layer components
  src/components/headers/Trace.tsx
  src/components/headers/layerEditor/LayerEditor.tsx
  src/components/layer/layer/Layer.tsx
  src/types/layer.d.ts
Due: pnpm check

refactor: rename transparency to opacity in background settings and related components
  src/components/headers/Trace.tsx
  src/components/headers/backup/Backup.tsx
  src/components/layer/LayerContainer.tsx
  src/libraries/atoms.ts
  src/types/background.d.ts
Due: pnpm check

chore: remove unnecessary escape
  src/libraries/layerUtil/command.ts
Due: pnpm check, pnpm test

refactor: simplify state updates and more
  src/components/headers/Trace.tsx
  src/components/headers/backgroundPicker/BackgroundPicker.tsx
  src/components/headers/backup/Backup.tsx
  src/components/headers/layerEditor/LayerEditor.tsx
Due: pnpm check

improve: comment shadow drawing method (#217)
  src/components/layer/layer/Layer.module.scss
  src/components/layer/layer/Layer.tsx
Due: pnpm check

fix: WebkitTextStroke property order
  src/components/layer/layer/Layer.tsx
Due: pnpm check

release: v2.3.0
  CHANGELOG.md
  package.json
Due: none

feat: font size settings to the Notes component
  src/components/memo/Memo.tsx
  src/libraries/localStorage.defaultValue.ts
  src/types/types.d.ts
Due: pnpm check

fix: add overflow-y property to VideoSymbolContainer
  src/components/layer/LayerContainer.module.scss
Due: pnpm check

Path conditions:
  pnpm check: any of: src/**/*.{ts,tsx,json,scss,css}
  pnpm test: any of: src/libraries/layerUtil/*
